body {
  color: #222;
  border-top: 10px solid #eee;
  background: #fff;
  font-family: 'Gill Sans', Arial;
}
abbr,
abbr[title] {
  border: 0px;
  cursor: auto;
}
.nav-header {
  padding: 0;
}
.navbar-inner {
  clear: both;
  background: #000;
  min-height: 36px;
  height: 36px;
  line-height: 36px;
  overflow: hidden;
  border: 0;
  padding: 0;
  margin: 0;
  border-top: 1px solid #000;
}
a,
a:hover {
  color: #999;
  text-decoration: none;
}
.navbar {
  border-bottom: 1px solid #808080;
}
.navbar .divider-vertical {
  border: 0;
  border-left: 1px solid #808080;
  margin: 0;
}
.navbar .nav li {
  line-height: 36px;
}
.navbar .nav li  a {
  padding: 0 16px;
}
.navbar .nav-collapse.collapse .nav li a {
  letter-spacing: 2px;
  color: #fff;
  font-weight: 100;
  font-style: normal;
}
.navbar .nav-collapse.collapse .nav li a:hover {
  background: #333;
}
.container,
.navbar {
  width: 820px;
  overflow: hidden;
  margin: auto;
}
.navbar {
  margin-top: -10px;
}
.navbar .brand {
  font-size: 60px;
  line-height: 230%;
  font-family: sans-serif;
  background: url("/images/logo.gif") no-repeat;
  height: 96px;
  width: 100%;
  padding: 0;
  margin: 0px 18px 23px 5px;
  text-shadow: 0 0px 0 #000;
}
.navbar .brand a {
  display: block;
  width: 96px;
  height: 96px;
  float: left;
}
.navbar .brand div {
  margin-left: 100px;
  color: #000;
}
.well {
  background-color: #000;
  border: 1px solid #000;
}
div.page-title {
  border-top: 5px solid #eee;
  border-bottom: 1px solid #b2b2b2;
  line-height: 40px;
  font-size: 14px;
  padding: 0px 15px;
}
div.pagination * {
  background-color: #fff;
}
.pagination .disabled a,
.pagination .disabled a:hover {
  color: #ddd;
}
div.pagination li a:hover {
  color: #999;
}
.pagination {
  outline: 1px solid #b2b2b2;
  border-top: 5px solid #eee;
}
.copyright {
  margin: 50px auto;
  height: 40px;
  line-height: 40px;
  text-align: center;
  width: 200px;
  background: #000;
  color: #fff;
  font-family: sans-serif;
}
.item-index {
  width: 840px;
  overflow: hidden;
  margin-left: -10px;
}
.item-index .item {
  width: 400px;
  overflow: hidden;
  padding: 0px 9px 0px 10px;
  border-top: 5px solid #eee;
  border-right: 1px solid #b2b2b2;
  border-bottom: 1px solid #b2b2b2;
  float: left;
}
.item-index .item .header {
  font-size: 12px;
  line-height: 300%;
}
.item-index .title {
  font-size: 30px;
  line-height: 100%;
  padding-bottom: 10px;
}
.item-index .html {
  margin-top: 10px;
}
#itemshow {
  border-top: 5px solid #eee;
}
#itemshow .header {
  font-size: 12px;
  line-height: 300%;
}
#itemshow .title {
  font-size: 30px;
  line-height: 100%;
  padding-bottom: 10px;
}
#itemshow .html {
  border-bottom: 1px solid #b2b2b2;
}
#itemshow .footer {
  border-top: 5px solid #eee;
  border-bottom: 1px solid #b2b2b2;
  line-height: 40px;
}
