//class mod
border-radius()
  -webkit-border-radius arguments
  -moz-border-radius arguments
  border-radius arguments

box-shadow()
  box-shadow: 0 1px 3px rgba(34,25,25,0.4)
  -moz-box-shadow: 0 1px 2px rgba(34,25,25,0.4)
  -webkit-box-shadow: 0 1px 3px rgba(34,25,25,0.4)

box-shadow-heavy()
  box-shadow: 0 2px 5px rgba(34,25,25,0.5)
  -moz-box-shadow: 0 2px 5px rgba(34,25,25,0.5)
  -webkit-box-shadow: 0 2px 5px rgba(34,25,25,0.5)


//bootstrap mod
body
  color:#222
  border-top:10px solid #eee
  background:white
  font-family:'Gill Sans', Arial
abbr
abbr[title]
  border:0px
  cursor:auto
.nav-header
  padding:0
.navbar-inner
  clear:both
  background:black
  min-height:36px
  height:36px
  line-height:36px
  overflow:hidden
  border:0
  padding:0
  margin:0
  border-top:1px solid black




.navbar .divider-vertical
  border:0
  border-left:1px solid gray
  margin:0

.navbar .nav li
  line-height:36px

.navbar .nav li  a
  padding:0 16px

.navbar .nav-collapse.collapse .nav li a
  letter-spacing:2px
  color:white
  font-weight:100
  font-style:normal
.navbar .nav-collapse.collapse .nav li a:hover
  background:#333

//scaffolding
.container
.navbar
  width:880px
  overflow:hidden
  margin:auto

//nav
.navbar
  margin-top:-10px
.navbar .brand
  background:url(/images/logo.gif)
  height:96px
  width:96px
  padding:0
  margin:0px 18px 23px 5px
.navbar .brand a
  display:block
  width:96px
  height:96px
  float:left
.navbar .brand div
  margin-left:100px
  color:black
  
  
  



